.welcome{
  box-sizing: border-box;
  padding: 20px;
}

.welcome p{
  box-sizing: content-box;
  padding: 20px;
  width:70%;
}

.welcome form{
  display: inline-block;
}

.magicWord{
  display:none;
}

#answer1, #answer2, #answer3{
  display: none;
}

.btn-group{
  columns: 12;
  border: 1px solid red;
  size: 100%;
  float:left;
  margin: 5px;
}

.question{
  box-sizing:content-box;
  padding: 20px;
  margin: 10px;
  border: 1px solid grey;
  width: 50%;
}

body{
  background-color: rgb(255, 242, 225);
}