.welcome{
  box-sizing: border-box;
  padding: 20px;
  /* display: none; */
}

.welcome p{
  box-sizing: content-box;
  padding: 20px;
  width:50%;
}

.welcome form{
  display: inline-block;
}

.magicWord{
  display:none;
}

#answer1, #answer2, #answer3{
  display: none;
}

