.welcome{
  box-sizing: border-box;
  padding: 20px;
  /* display: none; */
}

.welcome p{
  box-sizing: content-box;
  padding: 20px;
  width:50%;
}

.welcome form{
  display: inline-block;
  ;
}

.magicWord{
  display:none;
}

/* .question1{
  display:none;
}

.question2{
  display:none;
}

.question3{
  display:none;
} */